
/*NavBar*/
#logo_pic{
	padding: 3px;
}

#Logo{
	margin: 0;
}

#Brand{
	font-size: 25px;
	font-weight: bold;
}

#searchID{
	border-radius: 5px
}

/* Wrapper */
.wrapper{
	padding-top: 45px;
}

.wrapper h3,p{
	color:black;
}

/* Body */

body{
	margin:2rem;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
	line-height: 1.5em;
	background-color: #eff1f4;
}

/*global-all the classes that are global and you would want to use it in multiple places*/
.container{
	width: 90%;
	margin: auto; /* automatically sets the margin depending on the screen size*/
	overflow: hidden; /*want to hide the content if it overflows (cuz box not big enough to display everything)*/
}

.search_botton{
	height: 28px;
	background-color: #e8491d;
	border: none;
	padding: 0 20px 0 20px;
	color: #fff;
	border-radius: 5px;
}

ul{
	margin: 0;
	padding: 0;
}

/*Slidw show-area*/


/*Search-bar area*/
#search-bar{
	padding: 10px;
	color: #fff;
	background: #333
}

#search-bar h4{
	float: left;
}

#search-bar form{
	float: right;
	padding-top: 2px;
}

#search-bar input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Boxes area*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	width: 30%;
	float: left;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	width: 50%;
	height: 60%;

}
