
Internet Application/New Project/WebProject/.vs/WebProject/v15/Server/sqlite3/db.lock
Internet Application/New Project/WebProject/.vs/config/applicationhost.config
Internet Application/New Project/WebProject/.vs/config/applicationhost.config
