
Internet Application/New Project/WebProject/.vs/WebProject/v15/Server/sqlite3/db.lock
Internet Application/New Project/WebProject/.vs/config/applicationhost.config
Internet Application/New Project/WebProject/.vs/config/applicationhost.config
Internet Application/Bon Appetit/App_Data/Halloween.mdf
Internet Application/Bon Appetit/App_Data/Halloween_log.ldf
/Soft Eng/SocialMusicNetwork/nbproject/private/
Placement/~$acement Report.docx
Placement/~WRL1490.tmp
Placement/~WRL2149.tmp
Placement/~$acement Dairy.docx
Placement/~WRL0003.tmp
