
/*Header*/
/header{
background-color: #242628;
color: #ffffff;
min-height: 70px; /*cuz it's responsive, need to set minimum height for when viewing it on handheld device, so it ajusts*/
border-bottom: #e8491d 2px solid;
padding-top: 10px;
overflow: hidden;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
z-index:10;
}

header #logo{
	padding: 0;
	float:left;
}

header #logo h1{
	margin: 0;
}

header #logo_pic{
	float: left;
	padding-bottom: 3px;
}

header .logo_title{
	float: left;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .current a{/*current link*/
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #e8491d;
	text-decoration: none;
}

header a{
	color: #ffffff;
	text-decoration: none; /*don't want underline under the links*/
	text-transform: uppercase; /*make menu text uppercase*/
	font-size: 16px;
}

header li{
	float: left;
	display: inline; /*display the menu horizontaly*/
	padding: 0 20px 0 20px; /*top right bottom left*/
}

/* Slide Show CSS*/
.wrapper{
	padding-top: 45px;
}

.wrapper h3,p{
	color:black;
}

/*responsive slides*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* Body */

body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
	line-height: 1.5em;
	background-color: #f2f2f2;
}

/*global-all the classes that are global and you would want to use it in multiple places*/
.container{
	width: 90%;
	margin: auto; /* automatically sets the margin depending on the screen size*/
	overflow: hidden; /*want to hide the content if it overflows (cuz box not big enough to display everything)*/
}

.button_1{
	height: 28px;
	background-color: #e8491d;
	border: none;
	padding: 0 20px 0 20px;
	color: #fff;
	border-radius: 5px;
}

ul{
	margin: 0;
	padding: 0;
}

/*Slidw show-area*/


/*Search-bar area*/
#search-bar{
	padding: 10px;
	color: #fff;
	background: #333
}

#search-bar h4{
	float: left;
}

#search-bar form{
	float: right;
	margin-top: 5px;
}

#search-bar input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Boxes area*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	width: 30%;
	float: left;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	width: 50%;
	height: 60%;

}
