.wrapper{
	width: 760px;
	margin: 0 auto;
}

.header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

.sidebar{
	line-height:30px;
	background-color:#eeeeee;
	height:300px;
	float:left;
}

.content{
	width:650px;
	float:left;
}

.footer{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}

@media only screen and (max-width: 800px){
	.wrapper{
		width:600px;
	}
	
	.sidebar{
		float:left;
	}
	
	.content{
		width:495px;
	}
}

