
#header{
	background-color:#FF6600;
	text-align:center;
	width:100%;
	height:48px;
}

#col1{
	float:left;
	width:20%;
	height:400px;
	background:#6FF;
}

#col2{
	float:left;
	width:60%;
	height:400px;
	background:#FCF;
}

#col3{
	float:left;
	width:20%;
	height:400px;
	background:#39F;
}

#footer{
	width:100%;
	background:#FFFF66;
	clear:both;
}